body {
    margin: 0;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

picture {
        position: absolute;
}

.backImage {
    width: 100vw;
}

header {
    background-color: white;
    z-index: 1;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    z-index: 1;
}

@media (orientation: portrait) {
    header > nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


@media (min-aspect-ratio: 9/20) {
    .backImage {
        margin-top: 0em;
}
}

}

@media (max-height: 700px) {
    .backImage {
margin-top: -9em;
}
}