:root {
  --backgroudpink: #edbbbe;
  --frontgroundpink: #edbbbe;
  --highlightpink: #f4d0cf;
  --fixscreenheight: 7em;
  --fixscreenweigth: 7em;
  --font: 'Noto Serif Display', serif;
}

body {
  margin: 0;
  /* background: linear-gradient(137deg, rgba(237, 187, 190, 1) 0%, rgba(244, 208, 207, 1) 45%, rgba(237, 187, 190, 1) 100%); */
  background: rgb(216,172,175);
  background: rgb(138,108,110);
  background: linear-gradient(325deg, rgba(237, 187, 190, 1) 0%, rgba(244,208,207,1) 41%, rgba(244,208,207,1) 61%, rgba(237, 187, 190, 1) 100%);
  height: min-content;
}

/* header {
  align-items: center;
  height: 2rem;
  display: flex;
} 



body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainwindowwrapper{
height: calc(100vh - 4em);
} */


header {
  background-color: var(--backgroudpink);
  padding: 1rem;
  align-items: center;
  height: 2rem;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
}

.mainwindowwrapper {
  width: 100vw;
  height: calc(100vh - 4em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainwindow {
  width: calc(100vw - var(--fixscreenweigth));
  height: calc(100vh - var(--fixscreenheight) - 4em);
  background: var(
  --frontgroundpink);
  border: solid var(
  --highlightpink) 1px;
  display: flex;
  justify-content: center;
  font-family: var(
  --font);
  color: #635353;
}

nav {
  font-family: var(--font);
  font-weight: 600;
}

.mainwindow>div {
  width: 50%;
  height: 100%;
  /* background-color: var(--backgroudpink); */
}

.imageWrapper {
  display: flex;
  align-items: flex-end;
}

.textPart{
  background-color: transparent;
}

.textPart>p {
  z-index: 1;
  /* mix-blend-mode: plus-lighter; */
  color: #414141;
}

.mainwindow>div>img {
  width: 25em;
  height: 25em;
  mix-blend-mode: luminosity;
  z-index: 3;
}

@media (orientation: portrait) {

  :root {
    --backgroudpink: #edbbbe;
    --frontgroundpink: #edbbbe;
    --highlightpink: #f4d0cf;
    --fixscreenheight: 7em;
    --fixscreenweigth: 7em;
    --font: 'Noto Serif Display', serif;
}
  
  header {
    align-items: center;
    height: 2rem;
    display: flex;
  } 
 

  
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mainwindowwrapper{
  height: calc(100vh - 4em);
}
 

  .mainwindow {
    width: calc(100vw - var(--fixscreenweigth));
    height: calc(100vh - var(--fixscreenheight) - 2em);
    /* width: calc(100vw - (5 * var(--mainwindowoffset))); */
    display: flex;
    position: relative;
    /* height: calc(100vh - (7 * var(--mainwindowoffset))); */
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    padding: 0em 1em 0em 1em;
  }

  .mainwindow>.imageWrapper {
    /* position: absolute; */
    margin-top: -3em;
    margin-right: -3em;
    z-index: 1;
    background-color: var(--frontgroundpink);
  }

  .mainwindow>div {
    width: 100%;
  }

  .mainwindow>.textPart {
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 1;
    /* background-color: #edbbbe; */
  }

  .mainwindow>.textPart>h1 {
    font-size: 1.75em;
  }

  .mainwindow>.textPart>h2 {
    font-size: 1.25em;
    margin-top: -0.5em;
    /* text-align: right; */
  }

  .mainwindow>.textPart>p {
    font-weight: 600;
    text-align: right;
  }

  .mainwindow>div>img {
    width: 16em;
    height: 16em;
  }
}