body {
    counter-reset:counter;
}

body > div {
    counter-increment: counter;
    z-index: counter(counter);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50vw;
    left: 50vh;
}

p:after {
    content: "pocet" counter(counter);
}